%%% -*- mode:erlang -*-

[
{egit_sshd, [{host, {127,0,0,1}}
            ,{port, 2222}
            ,{repo_dir, "/opt/repos"}
            ,{dsa_private_key, <<"-----BEGIN DSA PRIVATE KEY-----

-----END DSA PRIVATE KEY-----">>}
            ,{rsa_private_key, <<"-----BEGIN RSA PRIVATE KEY-----

-----END RSA PRIVATE KEY-----">>}]}
].
